
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

a {
    color: lavender
}

span.info {
    text-decoration: underline;
    color: lavender;
    cursor: pointer;
}

span.unsupported {
    text-decoration: line-through;
}

canvas {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}